.catalog__name {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  color: #000000;
  text-align: start;

  @media (min-width: @tablet-width) {
    margin-top: 18px;
    margin-bottom: 40px;
    font-size: 60px;
  }
}

.catalog__name-wrapper {
  width: 320px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
  box-sizing: border-box;
  margin-top: 10px;
  margin-bottom: 13px;

  @media (min-width: @tablet-width) {
    padding-top: 28px;
    width: 768px;
    padding-left: 30px;
    padding-right: 30px;
  }

  @media (min-width: @desktop-width) {
    width: 1440px;
    padding-left: 110px;
    padding-right: 110px;
  }
}

.catalog__container {
  margin-bottom: 20px;
}
