.example__container-content {
  display: flex;
  justify-content: space-around;

  @media (min-width: @desktop-width) {
    justify-content: flex-start;
  }
}

.example__container {
  @media (min-width: @tablet-width) {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
  }

  @media (min-width: @desktop-width) {
    display: block;
  }
}

.example__changes {
  text-align: center;
}

.example__name {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  color: #000000;

  @media (min-width: @tablet-width) {
    font-size: 60px;
    line-height: 60px;
  }
}

.example__text {
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #444444;

  @media (min-width: @tablet-width) {
    font-size: 16px;
    line-height: 24px;
  }

  @media (min-width: @desktop-width) {
    width: 436px;
  }
}

.example__type {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  color: #000000;
  margin-bottom: 11px;

  @media (min-width: @tablet-width) {
    font-size: 30px;
    line-height: 37px;
  }
}

.example__type-text {
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 100%;
  color: #444444;
  text-align: center;
  display: block;
  width: 77px;

  @media (min-width: @tablet-width) {
    font-size: 14px;
    line-height: 14px;
  }
}

.example__price-container {
  display: flex;
  justify-content: center;

  @media (min-width: @tablet-width) {
    flex-direction: column;
  }

  @media (min-width: @desktop-width) {
    flex-direction: row;
    justify-content: flex-start;
  }
}

.example__price {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
  color: #000000;
  margin-right: 10px;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 20px;
    width: 175px;
    align-self: baseline;
    margin: 0;
    text-align: end;
  }

  @media (min-width: @desktop-width) {
    margin-right: 90px;
    width: auto;
    text-align: start;
  }
}

.example__button {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #000000;
}

.example__wrapper {
  box-sizing: border-box;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
  width: 320px;
  background-color: #eaeaea;
  padding-top: 30px;
  padding-bottom: 30px;

  @media (min-width: @tablet-width) {
    width: 708px;
    margin: 0 auto;
  }

  @media (min-width: @desktop-width) {
    width: 1300px;
    padding-right: 30px;
    padding-left: 30px;
  }
}

.example__container-text {
  text-align: center;

  @media (min-width: @tablet-width) {

    width: 162px;
    display: flex;
    align-items: center;
    flex-direction: column;
    border: 1px #e6e6e6 solid;
  }

  @media (min-width: @desktop-width) {
    margin-right: 62px;
    margin-bottom: 39px;
  }
}
