.optionally {
  border: none;
  padding: 0;
  margin: 0;
}

.optionally__list {
  padding: 0;
  margin: 0;
  margin-bottom: 25px;

  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 35px;
  }

  @media (min-width: @desktop-width) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-bottom: 61px;
  }
}

.optionally__item {
  list-style-type: none;
}

.optionally__title-label {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: #000000;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 30px;
  }
}

.optionally__input {
  @media (min-width: @tablet-width) {
    margin-right: 26px;
  }
}

.optionally__title {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 26px;
  color: #000000;
  margin-bottom: 25px;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    width: 136px;
    height: 2px;
    background-color: #68b738;
    top: 15px;
    transform: translateX(100%);
    right: -18px;

    @media (min-width: @tablet-width) {
      width: 446px;
      height: 2px;
      top: 22px;
      transform: translateX(100%);
      right: -35px;
    }

    @media (min-width: @desktop-width) {
      width: 1078px;
    }
  }

  @media (min-width: @tablet-width) {
    font-size: 36px;
    line-height: 36px;

    &::before {
      content: "";
      position: absolute;
      width: 30px;
      height: 2px;
      background-color: #68b738;
      top: 22px;
      left: -70px;
    }
  }

  @media (min-width: @desktop-width) {
    &::before {
      width: 70px;
      top: 22px;
      left: -108px;
    }

    margin-bottom: 57px;
  }
}

.optionally__button {
  padding: 7px 44px;
  background: #68b738;
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #ffffff;
  border: none;
  width: 100%;

  @media (min-width: @tablet-width) {
    width: 282px;
    padding: 16px 0;
  }

  @media (min-width: @desktop-width) {
    width: 569px;
  }
}

.optionally__text {
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #000000;
  text-align: center;
  margin: 20px;

  @media (min-width: @tablet-width) {
    margin-right: 135px;
  }

  @media (min-width: @desktop-width) {
    margin-left: 81px;
  }
}

.optionally__wrapper {
  @media (min-width: @tablet-width) {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  @media (min-width: @desktop-width) {
    justify-content: flex-start;
  }
}
