.stock {
  background-image: url("../img/mobile/green-image.png");
  background-color: #008000;
}

.stock__title {
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
}
