.stock__wrapper {
  width: 320px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
  box-sizing: border-box;

  @media (min-width: @tablet-width) {
    width: 768px;
    padding-left: 30px;
    padding-right: 30px;
  }

  @media (min-width: @desktop-width) {
    width: 245px;
    padding: 0;
  }
}

.stock__title {
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  text-align: center;
  background-image: url("../img/mobile/green-image.png");
  background-repeat: no-repeat;
  padding: 187px 61px 43px 58px;

  @media (min-width: @tablet-width) {
    padding: 71px 124px 69px 422px;
  }

  @media (min-width: @tablet-width) {
    padding: 187px 61px 43px 58px;
    background-image: url("../img/mobile/green-image.png");
  }
}
