.weight__main-wrapper {
  @media (min-width: @desktop-width) {
    box-sizing: border-box;
    padding-top: 84px;
    padding-left: 110px;
    padding-right: 110px;
    width: 1440px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
  }
}

.weight__wrapper {
  box-sizing: border-box;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
  width: 280px;
  background-color: #f2f2f2;
  padding-top: 5px;
  padding-bottom: 13px;
  margin-bottom: 20px;

  @media (min-width: @tablet-width) {
    padding-left: 30px;
    padding-right: 30px;
    width: 708px;
    padding-top: 50px;
    padding-bottom: 53px;
  }

  @media (min-width: @desktop-width) {
    width: 570px;
    margin: 0;
  }
}


.weight__name {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;
  color: #000000;
  margin-left: 65px;
  position: relative;

  &--image-slim::before {
    content: " ";
    position: absolute;
    z-index: 2;
    background-image: url("../../img/mobile/cat-back-slim.png");
    background-repeat: no-repeat;
    width: 100%;
    height: 50px;
    left: 0;
    bottom: 0;
    transform: translateX(-65px);

    @media (min-width: @tablet-width) {
      background-image: url("../img/tablet/cat-back-tablet-slim.png");
      width: 211px;
      height: 200px;
      top: 36px;
      transform: translateX(190%);
    }

    @media (min-width: @desktop-width) {
      background-image: url("../img/desktop/cat-back-desktop-slim.png");
      width: 106px;
      height: 100px;
      top: -40px;
      transform: translateX(0);
    }
  }

  &--image-pro::before {
    content: " ";
    position: absolute;
    z-index: 2;
    background-image: url("../img/mobile/cat-back-pro.png");
    background-repeat: no-repeat;
    width: 100%;
    height: 50px;
    left: 0;
    bottom: 0;
    transform: translateX(-75px) translateY(5px);

    @media (min-width: @tablet-width) {
      background-image: url("../img/tablet/cat-back-tablet-pro.png");
      width: 268px;
      height: 200px;
      top: 36px;
      transform: translateX(135%);
    }

    @media (min-width: @desktop-width) {
      background-image: url("../img/desktop/cat-back-desktop-pro.png");
      background-repeat: no-repeat;
      width: 134px;
      height: 100px;
      top: -30px;
      transform: translateX(0);
      left: -21px;
    }
  }

  @media (min-width: @tablet-width) {
    font-size: 36px;
    line-height: 36px;
    margin-left: 23px;
    text-align: start;
  }

  @media (min-width: @desktop-width) {
    text-align: center;
  }
}

.weight__text {
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #444444;
  border-bottom: 1px solid #d9d9d9;
  padding-bottom: 23px;

  @media (min-width: @tablet-width) {
    margin-left: 23px;
    padding-top: 24px;
    font-size: 16px;
    line-height: 24px;
    text-align: start;
    width: 340px;
    border: 0;
  }

  @media (min-width: @desktop-width) {
    width: 467px;
  }
}

.weight__type-container {
  padding: 5px 0;
}

.weight__type {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  color: #000000;
  text-decoration: none;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 30px;
    margin-left: 23px;
  }
}
